<p style="color: green"><%= notice %></p>

<%= render @coding_class %>

<div>
  <%= link_to "Edit this coding class", edit_coding_class_path(@coding_class) %> |
  <%= link_to "Back to coding classes", coding_classes_path %>

  <%= button_to "Destroy this coding class", @coding_class, method: :delete %>
</div>
