<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lesson_id, style: "display: block" %>
    <%= form.text_field :lesson_id %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :student_id %>
  </div>

  <div>
    <%= form.label :mentor_id, style: "display: block" %>
    <%= form.text_field :mentor_id %>
  </div>

  <div>
    <%= form.label :review_result, style: "display: block" %>
    <%= form.text_field :review_result %>
  </div>

  <div>
    <%= form.label :submitted_at, style: "display: block" %>
    <%= form.datetime_field :submitted_at %>
  </div>

  <div>
    <%= form.label :reviewed_at, style: "display: block" %>
    <%= form.datetime_field :reviewed_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
