<div id="<%= dom_id submission %>">
  <p>
    <strong>Lesson:</strong>
    <%= submission.lesson_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= submission.student_id %>
  </p>

  <p>
    <strong>Mentor:</strong>
    <%= submission.mentor_id %>
  </p>

  <p>
    <strong>Review result:</strong>
    <%= submission.review_result %>
  </p>

  <p>
    <strong>Submitted at:</strong>
    <%= submission.submitted_at %>
  </p>

  <p>
    <strong>Reviewed at:</strong>
    <%= submission.reviewed_at %>
  </p>

</div>
