<div id="<%= dom_id lesson %>">
  <p>
    <strong>Course:</strong>
    <%= lesson.course_id %>
  </p>

  <p>
    <strong>Lesson number:</strong>
    <%= lesson.lesson_number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Assignment due date:</strong>
    <%= lesson.assignment_due_date %>
  </p>

</div>
