<div id="<%= dom_id trimester %>">
  <p>
    <strong>Year:</strong>
    <%= trimester.year %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= trimester.term %>
  </p>

  <p>
    <strong>Application deadline:</strong>
    <%= trimester.application_deadline %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= trimester.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trimester.end_date %>
  </p>

</div>
