<p style="color: green"><%= notice %></p>

<%= render @trimester %>

<div>
  <%= link_to "Edit this trimester", edit_trimester_path(@trimester) %> |
  <%= link_to "Back to trimesters", trimesters_path %>

  <%= button_to "Destroy this trimester", @trimester, method: :delete %>
</div>
