<p style="color: green"><%= notice %></p>

<%= render @mentor_trimester_signup %>

<div>
  <%= link_to "Edit this mentor trimester signup", edit_mentor_trimester_signup_path(@mentor_trimester_signup) %> |
  <%= link_to "Back to mentor trimester signups", mentor_trimester_signups_path %>

  <%= button_to "Destroy this mentor trimester signup", @mentor_trimester_signup, method: :delete %>
</div>
